 body {
            background: linear-gradient(135deg, #ffffff, #ffffff);
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }

        .sub-heading {
            font-family: 'Roboto', sans-serif;
            font-size: 1.2rem;
            font-weight: 500;
            color: #6c757d;
            margin-top: -10px;
            margin-bottom: 30px;
        }

        h2 {
            font-weight: 700;
            color: #3f3f3f;
        }

        .upload-section {
            border: 2px dashed #288683;
            border-radius: 20px;
            padding: 40px 30px;
            text-align: center;
            background-color: #fff;
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
        }

        .upload-icon {
            font-size: 60px;
            color: #288683;
            margin-bottom: 20px;
        }

        .scroll-box {
            max-height: 600px;
            overflow: auto;
            background: #ffffff;
            border: 1px solid #dee2e6;
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        }

        #btnGroup {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }

        .btn-custom {
            border-radius: 50px;
            font-weight: 600;
            padding: 10px 24px;
            font-size: 15px;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .btn-upload {
            background: linear-gradient(135deg, #459693, #87d1cf);
            color: #000;
            border: none;
            transition: 0.3s ease;
        }

        .btn-upload:hover {
            background: linear-gradient(135deg, #87d1cf, #2e615f);
            box-shadow: 0 0 10px rgba(70, 90, 255, 0.3);
        }

        .btn-operate {
            background: linear-gradient(135deg, #0096c7, #2e615f);
            color: #fff;
            border: none;
            transition: all 0.3s ease-in-out;
        }

        .btn-operate:hover {
            background: linear-gradient(135deg, #0096c7, #2e615f);
            box-shadow: 0 0 12px rgba(0, 180, 216, 0.4);
        }

        table th {
            background-color: #f1f5ff;
            color: #333;
            font-weight: 600;
        }

        .form-control {
            border-radius: 10px;
        }

        @media (max-width: 768px) {
            .upload-icon {
                font-size: 48px;
            }

            .btn-custom {
                width: 100%;
                justify-content: center;
            }

            .scroll-box {
                padding: 15px;
            }
        }
